<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Table</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="plugins/bootstrap-table/css/bootstrap-table.min.css"/>
    <link rel="stylesheet" href="css/layui.css" media="all"/>
    <link rel="stylesheet" href="css/global.css" media="all">
    <link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css">
</head>

<body>
<div class="admin-main">
    <form class="layui-form layui-form-pane" onsubmit="javascript:return false;">
        <div class="layui-form-item" style="margin-bottom:0px;">

            <label class="layui-form-label">模块名称</label>
            <div class="layui-input-inline">
               <input type="text" name="modelname"  placeholder="请输入模块名称" autocomplete="off" class="layui-input" id="modelname">
            </div>
            <label class="layui-form-label">端口号</label>
            <div class="layui-input-inline">
                <input type="text" name="port"  placeholder="请输入端口号" autocomplete="off" class="layui-input" id="port">
            </div>
            <button class="layui-btn" id="btn_generate">
                <i class="layui-icon">&#xe654;</i>生成模块
            </button>


        </div>
    </form>


</div>

<script type="text/javascript" src="plugins/jquery.min.js"></script>
<script type="text/javascript" src="bootstrap.min.js"></script>
<script type="text/javascript" src="plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script type="text/javascript" src="layui.js"></script>
<script type="text/javascript" src="ag/generator/model.js"></script>
</body>

</html>